.select-wrapper {
    margin-bottom: 5px;
}
.select-wrapper .select-field{
    width: 100%;
}
/* .select-wrapper select {
    outline: none;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
    padding: 0px 5px;
} */

.select-wrapper label {
    width: 110px;
}

/* .select-wrapper .field-error>div:last-child {
    border-bottom: 1px solid #D8000C !important;
} */

.select-wrapper .select-input>div {
    border-style: none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: none;

}

.select-wrapper .select-input {
    width: 100%;
}

.field-error>div{
    border-bottom: 1px solid #D8000C !important;
}

.select-field{
    position: relative;
}
.select-field .error-msg{
    position: absolute;
    display: none;
    background-color: red;     
    width: fit-content;    
    top: 40px; 
    border-radius: 10px;
    padding: 10px;
    color: white;
    z-index: 999999;
}
.select-field .error-msg:before{
    position: absolute;
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) red rgba(255,255,255,0);
    top: -20px; 
    /* left: 90px;     */
}

.select-field:hover .error-msg{
    display: block;
}
