.input-wrapper{
    margin-bottom: 5px;
}
.input-wrapper div:last-child{
    width: 100%;
    font-size: 16px;
}
.input-wrapper input {
    outline: none;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
}
.input-wrapper label{
    width:110px;
}