.wrapper {
    background: url(https://img.freepik.com/free-photo/blurred-interior-hospital-clinical-with-people-abstract-medical-background_1484-1309.jpg) no-repeat center center fixed; 
    background-size: 100%;
    height: 100vh;
    width: 100;
}
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200&display=swap');
img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

#login-button{
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(3,3,3,.8);
    overflow: hidden;
    opacity: 0.4;
    box-shadow: 10px 10px 30px #000;    
    transition: 0.5s;
}
  
#login-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 260px;
    height: max-content;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    transition: 0.5s;
    opacity: 0;
}

.close-btn{
    position: absolute;
    cursor: pointer;
    font-family: 'Encode Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.close-btn:hover{
    opacity: .5;
}

h1{
    font-family: 'Encode Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 10px #000;
}

.style-button,
.form--control input{
    font-family: 'Encode Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: white;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3,3,3,.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form--control input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}


.style-button{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    padding: 4px 8px;
    cursor: pointer;
    background: rgb(5, 218, 69);
}

.style-button:hover{
    opacity: 0.7;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
#remember-container{
    position: relative;
    align-content: center;
    display: flex;
    margin: 20px 26px;
}


#remember{
    font-size: 14px;
    font-family: 'Encode Sans Condensed', sans-serif;
    color: white;
    margin-left: 6px;
}

.error {
    font-size: 14px;
    color: red;
    font-style: italic;
    text-align: left;
    margin-left: 22px;
}


.toggle-eye {
    cursor: pointer;
    position: absolute;
    margin-top: -40px;
    margin-left: 210px;
}

.toggle-eye:hover {
    color: rgb(5, 218, 69);
}
  